{% extends "proj/base.html.twig" %}

{% block title %}About - Blackjack{% endblock %}

{% block body %}
    <h1>About This Project</h1>
    <p>This project is a simple implementation of the Blackjack card game. The aim is to create an interactive and engaging version of Blackjack where players can play against a computer dealer.</p>
    <p>Key Features:</p>
    <ul>
        <li>Supports 1 to 3 players.</li>
        <li>Follows standard Blackjack rules.</li>
        <li>Interactive user interface for an engaging experience.</li>
    </ul>
    <p>Created as part of a web development project to demonstrate the use of HTML, CSS, and PHP in a real-world application.</p>
{% endblock %}
