/* Reset style */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body {
    background-color: #eee;
    color: #181818;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    min-height: calc(100vh - 80px - 300px - 200px);
}

p,
td,
th,
li,
dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

h1 {
    margin-bottom: 1rem;
}

/* Nav style */
nav {
    background-color: #201f3e;
    height: 80px;
    padding: 0 2rem;
}

nav ul {
    display: flex;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

nav ul li {
    height: 100%;
}

nav a {
    color: #eee;
    text-transform: uppercase;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

nav ul li.active {
    background-color: #e9bd4f;
}

nav ul li:hover {
    background-color: #8f8eae;
}

nav ul li.active:hover {
    background-color: #e9bd4f;
}

/* Header style */
header {
    max-width: 1600px;
    margin: 0 auto;
    height: 300px;
}

header img {
    object-fit: cover;
}

/* Footer style */
footer {
    height: 200px;
    background-color: #201f3e;
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Home page style */
.home-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-img img {
    width: 500px;
    height: 300px;
    border-radius: 10px;
}

.home-intro {
    margin-top: 1rem;
    background-color: #8f8eae;
    border-radius: 10px;
    padding: 2rem;
}

/* About page style */
.about-content {
    display: flex;
    gap: 1rem;
}

.about-left,
.about-right {
    flex: 1;
}

.about-left {
    background-color: #8f8eae;
    border-radius: 10px;
    padding: 2rem;
}

.about-right img {
    border-radius: 10px;
}

/* Report page style */
.report-content {
    display: flex;
    gap: 1rem;
}

.report-nav {
    background-color: #8f8eae;
    border-radius: 10px;
    padding: 2rem;
}

.report-nav ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.report-nav a {
    color: #181818;
    font-weight: 600;
    text-decoration: underline;
}

.report-answers {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.report-answers div h4 {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    text-decoration: underline;
}

#kmom01,
#kmom02,
#kmom03,
#kmom04,
#kmom05,
#kmom06,
#kmom0710 {
    background-color: #8f8eae;
    border-radius: 10px;
    padding: 2rem;
    width: 100%;
}

/* Lucky page style */
.lucky p {
    background-color: #8f8eae;
    border-radius: 10px;
    padding: 2rem;
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}

.lucky img {
    height: 500px;
    border-radius: 10px;
    object-position: top;
}
