{% extends "base.html.twig" %}

{% block title %}Api{% endblock %}

{% block body %}
    <div class="api">
        <h1>API Routes</h1>
        <ul>
            {% for route, description in routes %}
                <li>
                    <a href="{{route}}"><code>{{ route }}</code></a> - {{ description }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
