{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
<div class="report">
    <h1>Report</h1>
    <div class="report-content">
        <div class="report-nav">
            <ul>
                <li><a href="#kmom01">Kmom01</a></li>
                <li><a href="#kmom02">Kmom02</a></li>
                <li><a href="#kmom03">Kmom03</a></li>
                <li><a href="#kmom04">Kmom04</a></li>
                <li><a href="#kmom05">Kmom05</a></li>
                <li><a href="#kmom06">Kmom06</a></li>
                <li><a href="#kmom0710">Kmom07/10</a></li>
            </ul>
        </div>
        <div class="report-answers">
            <div id="kmom01">
                <h3>Kmom01</h3>
            </div>
            <div id="kmom02">
                <h3>Kmom02</h3>
            </div>
            <div id="kmom03">
                <h3>Kmom03</h3>        
            </div>
            <div id="kmom04">
                <h3>Kmom04</h3>
            </div>
            <div id="kmom05">
                <h3>Kmom05</h3>
            </div>
            <div id="kmom06">
                <h3>Kmom06</h3>
            </div>
            <div id="kmom0710">
                <h3>Kmom07/10</h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}