{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
<div class="report">
    <h1>Report</h1>
    <div class="report-content">
        <div class="report-nav">
            <ul>
                <li><a href="#kmom01">Kmom01</a></li>
                <li><a href="#kmom02">Kmom02</a></li>
                <li><a href="#kmom03">Kmom03</a></li>
                <li><a href="#kmom04">Kmom04</a></li>
                <li><a href="#kmom05">Kmom05</a></li>
                <li><a href="#kmom06">Kmom06</a></li>
                <li><a href="#kmom0710">Kmom07/10</a></li>
            </ul>
        </div>
        <div class="report-answers">
            <div id="kmom01">
                <h3>Kmom01</h3>
                <h4>Berätta kort om dina förkunskaper och tidigare erfarenheter kring objektorientering.</h4>
                <p>objektorienterad programmering är inget nytt ämne. I föregående läsperiod läste vi objektorienterad 
                python så själva tänket i sig är inget nytt. Jag har dock inte bestämt vad jag tycker om det. 
                Ibland gillar jag det, ibland inte. Jag står någonstans mittemellan.</p>
                <h4>Berätta kort om PHPs modell för klasser och objekt. Vilka är de grunder man behöver veta/förstå för att kunna komma igång och skapa sina första klasser?</h4>
                <p>Det första man behöver känna till är hur man skapar en klass och därifrån instansierar nya objekt av klassen. Attribut och metoder behöver man veta om också. 
                Dessutom dess synlighet. I php finns det tre typer av synligheter: public, private, protected.</p>
                <h4>Reflektera kort över den kodbas, koden, strukturen som användes till uppgiften me/report, hur uppfattar du den?</h4>
                <p>Omfattande. Jag har kikat lite på en del olika ramverk tidigare och är införstådd med att det blir en hel del filer och mappar. Men Symfony är nog det ramverk 
                som jag stött på som innehåller flest filer än så länge. Utan att veta exakt vad varje fil gör så kan jag dock tänka mig att det är
                många filer som är "set and forget". Det är iallafall min känsla. Men det kan snabbt bli rörigt om man inte har bra struktur.</p>
                <h4>Med tanke på artikeln “PHP The Right Way”, vilka delar in den finner du extra intressanta och värdefulla? Är det några särskilda områden som du känner att du vill veta mer om? Lyft fram några delar av artikeln som du känner mer värdefulla.</h4>
                <p>Nu har jag inte hunnit läsa igenom hela artikeln men om vi tar det i början så skulle jag vilja nämna namespace, composer och templating. Precis som det skrivs i artikeln, att man kan ha funktioner med samma namn så länge man har dom i olika namespace.
                Composer är också något jag tycker är bra. Stöter jag på något problem är sannolikheten ganska stor att någon annan stött på samma sak. Att då kunna installera paket som kan lösa problemet utan att jag behöver skriva koden(sålänge man förstår vad som händer) är positivt. 
                Och sen templating, som i vårt fall är twig. Underlättar något otroligt när man kan använda sina variabler direkt i sin HTML.</p>
                <h4>Vilken är din TIL för detta kmom?</h4>
                <p>TIL för detta kmom får bli Symfony. Nu har jag lärt mig långt ifrån allt. Men det är ändå kul att komma närmare verkligheten då jag förstått att många applikationer är skrivna i olika ramverk.</p>
            </div>
            <div id="kmom02">
                <h3>Kmom02</h3>
            </div>
            <div id="kmom03">
                <h3>Kmom03</h3>        
            </div>
            <div id="kmom04">
                <h3>Kmom04</h3>
            </div>
            <div id="kmom05">
                <h3>Kmom05</h3>
            </div>
            <div id="kmom06">
                <h3>Kmom06</h3>
            </div>
            <div id="kmom0710">
                <h3>Kmom07/10</h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}